<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> <%= "Hello (#{@user.username}!, " %> </p>
    <p> Welcome to the platform </p>
  </body>
</html>
